# 默认排除所有文件
*

# 必须在此处立刻兜住 LICENSE
!LICENSE

# 强制保留必要文件
!dist/extension.js       # 主入口文件
!package.json            # 必须包含
!README.md               # 市场页展示
!CHANGELOG.md            # 更新日志

# 选择性保留资源文件（如有）
!images/**
!package.nls.json
!package.nls.*.json
!l10n/**

# 完全排除 node_modules（除非有必须的二方包）
node_modules/**

# 排除开发配置和源码
src/**
.*
doc-assets
*.config.js
tsconfig.json
.vscode/**
.husky/**
test/**
dist/*.map
